* {
  margin: 0;
  padding: 0;
}

.green,
.red {
  height: 200px;
}

.green {
  background-color: rgb(28, 139, 61);
}

.red {
  background-color: rgb(149, 59, 59);
}

.blue {
  background-color: rgb(44, 80, 114);
}
